<html>
  <head>
  <title>Reading List</title>
  </head>
  <body>
        <h2>Lista de Pessoas</h2>
        <div th:unless="${#lists.isEmpty(pessoas)}">
              <dl th:each="pessoa : ${pessoas}">
                    <dt class="bookHeadline">
                          <label for="nome">Nome:</label><span th:text="${pessoa.nome}">Nome</span>
                          <br/>
                          <label for="nome">Idade:</label><span th:text="${pessoa.idade}">Idade</span>   
                          <br/>
                    </dt>
              </dl>
        </div>
        <div th:if="${#lists.isEmpty(pessoas)}">
              <p>Nenhuma pessoa foi cadastrada</p>
        </div>
        <hr />
        <h3>Adicione uma nova pessoa:</h3>
        <form action="/pessoas/cadastrarPessoa/" method="POST">
              <label for="nome">Nome:</label> <input type="text" name="nome" size="50"></input><br />  
              <label for="idade">Idade:</label> <input type="text" name="idade" size="15"></input><br /> 
              <br /> <input type="submit"></input>
        </form>
  </body>
</html>